<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/pessoa/">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/ocupacao/">Ocupacoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/instituicao/">Instituições</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/area/">Áreas do Saber</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/curso/">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/semestre/">Semestres de Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/disciplina/">Disciplinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/matricula/">Matrículas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/avaliacao/">Avaliações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/frequencia/">Frequência</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/turma/">Turmas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/cidade/">Cidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/ocorrencia/">Ocorrências</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/disciplinacurso/">Disciplinas por Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/tipo/">Tipos de Avaliação</a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <h2 class="mb-4">Tabela de Cidades</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">UF</th>
        </tr>
        {% for Cidade in cidades %}
      </thead>
      <tbody>
        <td>{{Cidade.nome}}</td>
        <td>{{Cidade.uf}}</td>
      </tbody>
    </table>
  </div>
  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
